<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gwalior Basket Backend</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
      * {
        font-family: "Roboto", sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>Hello Bharat, Gwalior Basket Backend is Running Successfully!</h1>
    <h2>Port No. : <b> 3001 </b></h2>
  </body>
</html>
